@import '@/assets/variable.scss';

@font-face {
    font-family: 'deco';
    src: url(/brayles.ttf);
}

.btn-primary {
    background: $primary;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.fa-sub {
    color: $sprimary;
}